:root {
  --mmt-border-color: var(--primary-200);
  --mmt-border-color-hover: var(--primary-300);
  --mmt-background-color: var(--secondary);
  --mmt-button-color: var(--primary-500);
  --mmt-button-color-hover: var(--primary-700);
  --mmt-button-background-color: var(--primary-200);
}

.mm-toolbar {
  display: flex;
  user-select: none;
  align-items: center;

  border: 1px solid var(--mmt-border-color);
  border-radius: 0.25rem;

  background-color: var(--mmt-background-color);
  line-height: 1;

  &:hover {
    border-color: var(--mmt-border-color-hover);
  }

  svg {
    display: block;
  }

  &-separator {
    flex: 1;
    border-left: 1px solid var(--mmt-border-color);
    margin-inline: 0.25rem;
    height: 18px;
  }

  &-item {
    width: 1.75em;
    height: 1.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    > * {
      width: 1em;
      height: 1em;

      text-align: center;
      font-size: 1.25rem;
      color: var(--mmt-button-color);
    }

    &.active > *,
    &:hover > * {
      color: var(--mmt-button-color-hover);
    }

    &.active,
    &:hover {
      border-radius: 3px;
      background-color: var(--mmt-button-background-color);
    }

    &.active {
      background-color: var(--mmt-button-background-color);
    }
  }
}
